 <div class="list-group">
   <app-item
*ngFor="let char of characters"  [character]="char"
(sideAssigned)="onSideAssigned($event)">
</app-item>

</div>


 <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">ZZZZ{{ name }}</h5>
            <button class="btn btn-primary">Light</button>
            <button class="btn btn-danger">Dark</button>
      </div>
    </a> -->


<!-- <div class="list-group">
  <app-item ></app-item>
</div> -->
